
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <style>
body{
  font-family:Roboto Mono;
  list-style: none;
}
.style{
  text-align:center; font-size:28px; margin:20px 0px;
}
.hovercss{
  transition: ease 0.5s;
}
.hovercss:hover{
  transform: scale(1.05);
}

    </style>
  </head>

<main>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper img-swiper">
          <div class="swiper-slide "><img src="https://upload.wikimedia.org/wikipedia/commons/1/14/Mumbai_Skyline_at_Night.jpg"></div>
          {{#each Trips}}
            <div class="swiper-slide"><img width="100%" style:"height:800px" src="{{this.link}}"></div>
          {{/each}}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
</main>

<div style="margin-bottom:100px">
    <div class="Hotel-Search search-bar" id="hotel" style="position:relative; top: 50px;">
        <div class="container">
         
          <div class="card mb-4" style="background-color: rgba(255, 255, 255, 0.7); opacity:100%;">
            <div class="card-body p-4">
              <div class="row justify-content-center">
               
                <div class="col-lg-12 col-xl-10 d-lg-flex flex-row mb-lg-4 mb-xl-0">
     <form action="/api" method="POST">      
                              
                        <div style="display: flex;">
                            <div id="basic" class="form-outline form-black flex-fill me-lg-2 mb-3 mb-lg-0" >
                            <input type="text" id="form1" name="iata" class="form-control" />
                            <label class="form-label" for="form1">IATA of Departure Airport</label>
                        </div>

                        <div class="form-outline datepicker form-black flex-fill mx-lg-2 mb-3 mb-lg-0" data-mdb-toggle-button="false">
                            <input type="text" class="form-control" name="adults" id="exampleDatepicker1" data-mdb-toggle="datepicker" />
                            <label for="exampleDatepicker1" class="form-label">Number of Adults</label>
                        </div>

                        
</div>
                       
                        <div class="col-lg-12 col-xl-2" style:"width:100px;">
                        <input class="btn btn-primary hovercss  btn-block bg-black" style="width:140px ;position:relative; top:15px;" type="submit" value="Find Trips" />
                        </div>
                        </form>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

<div class="columns is-multiline is-desktop" style="margin-top: 60px;">
{{#each Trips}}
 {{!-- <div class="idkplzcenter"> --}}
                   {{!-- </div> --}}
        <div class="column is-half">
            <div class="card">
                {{!-- <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="{{this.link}}" alt="{{this.name}}">
                    </figure>
                </div> --}}
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4 style">{{this.name}} (${{this.price}} flight est)</p>
                            <p class="subtitle is-6">{{this.description}}</p>
                        </div>
                    </div>
                </div>
                <div class="content">
                    
                    {{!-- <div class="ratio ratio-1x1"> --}}
                   <div class="idkplzcenter">
                        <div class="iframe-container">
                            <iframe class="map" width="400" height="300" frameborder="0" src="{{this.map}}" scrolling="no">
                            </iframe>
                        </div>
                   </div>
                    {{!-- </div> --}}
                    <p>
                    <div class="style"> Available hotels:</div>
                        <ul style="list-style: none;">
                            {{#each this.hotels}}
                                <li class="style">{{this.shortName}}</li>
                            {{/each}}
                        </ul>
                       <div class="style">Attractions:</div>
                        <ul style="list-style: none;">
                            {{#each this.attractions}}
                                <div class="media-left">
                                        <figure class="image">
                                            <img src="{{this.link}}" alt="{{this.name}}">
                                        </figure>
                                    </div>
                                <li class="style">
                                    {{this.name}}
                                </li>
                                <ul style="list-style: none;">
                                    <li>{{this.description}}</li>
                                </ul>
                            {{/each}}
                        </ul>
                        <div class="style">Social Opportunities</div>
                        <ul>
                            {{#each this.social}}
                            <li><a href="{{this.link}}">{{this.name}} ({{this.time}} minutes)</a></li>
                            <ul>
                                <li>{{this.description}}</li>
                            </ul>
                            {{/each}}
                        </ul>
                    </p>
                </div>
            </div>
        </div>
{{/each}}
</div>
{{!-- 
<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">John Smith</p>
        <p class="subtitle is-6">@johnsmith</p>
      </div>
    </div>

    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Phasellus nec iaculis mauris. <a>@bulmaio</a>.
      <a href="#">#css</a> <a href="#">#responsive</a>
      <br>
      <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
    </div>
  </div>
</div> --}}